device-mediapipe/cmusphinx-zh-cn-5.2.tar
device-mediapipe/output.wav
device-mediapipe/__pycache__/mechanical_arm.cpython-38.pyc
device-mediapipe/__pycache__/feishu.cpython-38.pyc
*.pyc
*.spec
device-mediapipe/data/
device-esp32c3/.pio/build/
*.dat
*.clang-format
device-esp32c3/.pio/
device-esp32c3/.vscode/
